#bp-tab-container .form-table label.box{
    float: left;
}
#bp-tab-container .form-table input[type="radio"]{
    margin:0px 5px 0px 0px;
}
#bp-tab-container .form-table span.radio-text{
    padding:0px 20px 0px 0px;
}
#bp-tab-container ul {
    list-style: none;
    padding:0;
    margin:0;
    border-bottom: 1px #DFDFDF  solid;
}
#bp-tab-container ul li{
    display: inline;
    border: solid;
    border-color: #DFDFDF #DFDFDF #FFFFFF;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0px;
    padding:10px 0px 10px 0px;
     border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: auto;
    overflow: hidden;
}
#bp-tab-container ul li.ui-tabs-active{
    background: white;
    border-width: 1px;
    color: #464646;
}
#bp-tab-container ul li.ui-tabs-active a{
    color: #464646;
}
#bp-tab-container .panel-container{
    clear: both;
    margin-top:2px;
    padding: 10px;
}
#bp-tab-container ul li a {
    font-weight: bold;
    outline: none;
    padding: 4px 10px 6px;
    color: #888888;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 14px;
    line-height: 24px;
}
#bp-tab-container ul li a:hover {
    color: #D54E21;
}
#icon-options-general{
    margin-top:2px;
}
