#
# Documentation is here: http://git-scm.com/docs/gitignore
#
wp-config.php

idMyGadget
resume

wp-content/plugins/jmws_idMyGadget_for_wordpress
wp-content/themes/jmws_twentyfifteen_idMyGadget
wp-content/themes/jmws_wp_vqsg_fs_idMyGadget

/nbproject/
*.swp

